<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imall.mbg.mapper.UmsResourceCategoryMapper">
  <resultMap id="BaseResultMap" type="com.imall.mbg.domain.UmsResourceCategoryEntity">
    <!--@mbg.generated-->
    <!--@Table ums_resource_category-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, `name`, sort
  </sql>
</mapper>